.table-hover tbody tr:hover {
    background-color: #f8f9fa;
    /* Hintergrundfarbe für den Hover-Effekt */
    cursor: pointer;
    /* Verwandelt den Mauszeiger in eine Hand */
}

hr.dotted-divider {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2));
    background-size: 80% 2px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 10px 0;
}

hr.dotted-divider-full {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2));
    background-size: 100% 2px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 10px 0;
}

.admin-functions-container> :not(:last-child) {
    margin-right: 10px;
}

.admin-functions-container {
    margin-left: 5px;
    display: flex;
}

#vermoegen-table.table,
#vermoegen-table.table tr,
#vermoegen-table.table th,
#vermoegen-table.table td {
    border: none;
}

#vermoegen-table {
    width: auto !important;
    display: inline-block;
}
