{% extends "base.html" %}

{% block content %}
{% if current_user.is_admin %}
<h2>Admin Funktionen</h2>
<div class="admin-functions-container">
    <!-- Button "Wertpapiere kaufen" -->
    <a href="{{ url_for('wertpapiere_kaufen', person_id=person.person_id, depot_id=deposit.deposit_id) }}">
        <button class="btn btn-primary" id="wertpapiereKaufen">Wertpapiere kaufen</button>
    </a>
</div>
<hr class="dotted-divider-full" style="margin-top: 20px;">
{% endif %}

<h1 style="align-items: flex-end;">{{ deposit.deposit_name }}</h1>
<!-- Name des Inhabers der Depots -->
{% if current_user.is_admin %}
<h4 style="align-items: flex-end; padding-left: 10px;">ID {{ person.person_id }} - {{ person.first_name }} {{
    person.last_name }}</h4>
{% endif %}

<!-- Infotext, wenn keine Depots vorhanden -->
{% if not securities_positions %}
<br>
<div class="alert alert-info" role="alert">
    In diesem Depot befinden sich keine Wertpapiere.
</div>
{% else %}
<!-- Kontext-Menü zur Tabelle, wenn Positionen vorhanden -->
{% if current_user.is_admin %}
<div class="btn-group d-md-none m-1">
    <button id="context-menu-button" class="btn dropdown-toggle" type="button" data-toggle="dropdown"
        data-boundary="window" aria-expanded="false" style="visibility: hidden;">
        <span class="glyphicon glyphicon-option-vertical"></span>
    </button>
    <ul id="context-menu" class="dropdown-menu">
        <li><a id="sell" href="#">Verkaufen</a></li>
    </ul>
</div>
{% endif %}
<!-- Wertpapiere-Tabelle -->
<table class="table table-hover table-condensed">
    <thead>
        <tr>
            <th>Wertpapier</th>
            <th>Kurs / Stk</th>
            <th>Anzahl</th>
            <th>Gesamt</th>
            <th>Wann & Wo</th>
        </tr>
    </thead>
    <tbody>
        {% for position in securities_positions %}
        <tr data-row-id="{{ position.securities_position_id }}">
            <td>{{ position.company_name }}</td>
            <td>EUR 0.0</td>
            <td>{{ position.amount }}</td>
            <td>0</td>
            <td>{{ position.purchase_timestamp }} {{ position.market_id }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% if securities_positions %}
<script>
    // Kontextmenü und Hover-Verhalten für Tabelle implementieren
    // ============================================================================
    document.addEventListener("DOMContentLoaded", function () {
        let selectedRowID = null;
        let rows = document.querySelectorAll(".table-hover tbody tr");
        let contextMenu = document.getElementById('context-menu');

        rows.forEach(function (row) {
            row.addEventListener("click", function (event) {
                let id = this.getAttribute("data-row-id");
                if (id === selectedRowID) {
                    selectedRowID = null;
                    contextMenu.style.display = 'none';
                    rows.forEach(function (row) {
                        row.classList.remove("active");
                    });
                } else {
                    selectedRowID = id;
                    let buttonBoundaries = document.getElementById("context-menu-button").getBoundingClientRect();
                    contextMenu.style.display = 'block';
                    contextMenu.style.left = event.pageX - buttonBoundaries.left + window.pageXOffset + 'px';
                    contextMenu.style.top = event.pageY - buttonBoundaries.top - window.pageYOffset + 'px';
                    rows.forEach(function (row) {
                        row.classList.remove("active");
                    });
                    this.classList.add("active");
                }
            });
        });

        document.addEventListener("click", function (event) {
            let isClickedInsideRow = false;
            let target = event.target;
            while (target.parentNode) {
                if (target.matches(".table-hover tbody tr")) {
                    isClickedInsideRow = true;
                    break;
                }
                target = target.parentNode;
            }
            if (!isClickedInsideRow) {
                contextMenu.style.display = 'none';
                selectedRowID = null;
                rows.forEach(function (row) {
                    row.classList.remove("active");
                });
            }
        });

        // Kontextmenü: Verkaufen
        let deleteDepositButton = document.getElementById('sell');
        if (deleteDepositButton) {
            deleteDepositButton.addEventListener("click", function (event) {
                // Depotposition verkaufen
                let confirmDelete = confirm("Sind Sie sicher, dass Sie das Wertpapier zum Verkauf anbieten möchten?");
                if (confirmDelete) {
                    fetch(`/api/personen/{{ person.person_id }}/depots/{{ deposit.deposit_id }}/depotposition/${selectedRowID}/verkauf`, {
                        method: 'POST',
                    })
                        .then(response => {
                            if (response.ok) {
                                console.log("Depotposition erfolgreich gelöscht");
                                window.location.reload();
                            } else {
                                console.error("Fehler beim Löschen der Depotposition");
                            }
                        })
                        .catch(error => {
                            console.error("Fehler beim Löschen der Depotposition:", error);
                        });
                }
            });
        }
    });
</script>
{% endif %}

{% endblock %}