{% extends "base.html" %}

{% block content %}
{% if current_user.is_admin %}
<h2>Admin Funktionen</h2>
<div class="admin-functions-container">
    <!-- Button "Wertpapiere kaufen" -->
    <a href="{{ url_for('wertpapiere_kaufen', person_id=person.person_id, depot_id=deposit.deposit_id) }}">
        <button class="btn btn-primary" id="wertpapiereKaufen">Wertpapiere kaufen</button>
    </a>
</div>
<hr class="dotted-divider-full" style="margin-top: 20px;">
{% endif %}

<h1 style="align-items: flex-end;">{{ deposit.deposit_name }}</h1>
<!-- Name des Inhabers der Depots -->
{% if current_user.is_admin %}
<h4 style="align-items: flex-end; padding-left: 10px;">ID {{ person.person_id }} - {{ person.first_name }} {{
    person.last_name }}</h4>
{% endif %}

<!-- Zurück zur Depotübersicht Button -->
{% if current_user.is_admin %}
<a href="{{ url_for('depots', person_id=person.person_id) }}" class="btn btn-secondary">Zurück zur Depotübersicht</a>
{% else %}
<a href="{{ url_for('depot_uebersicht') }}" class="btn btn-secondary">Zurück zur Depotübersicht</a>
{% endif %}

<!-- Infotext, wenn keine Depots vorhanden -->
{% if not securities_positions %}
<br>
<div class="alert alert-info" role="alert">
    In diesem Depot befinden sich keine Wertpapiere.
</div>
{% else %}
<!-- Kontext-Menü zur Tabelle, wenn Positionen vorhanden -->
{% if current_user.is_admin %}
<div class="btn-group d-md-none m-1">
    <button id="context-menu-button" class="btn dropdown-toggle" type="button" data-toggle="dropdown"
        data-boundary="window" aria-expanded="false" style="visibility: hidden;">
        <span class="glyphicon glyphicon-option-vertical"></span>
    </button>
    <ul id="context-menu" class="dropdown-menu">
        <li><a id="sell" href="#">Verkaufen</a></li>
    </ul>
</div>
{% endif %}
<!-- Wertpapiere-Tabelle -->
<table class="table table-hover table-condensed">
    <thead>
        <tr>
            <th>Wertpapier</th>
            <th>Kurs / Stk</th>
            <th>Anzahl</th>
            <th>Gesamt</th>
            <th>Wann & Wo</th>
        </tr>
    </thead>
    <tbody>
        {% for position in securities_positions %}
        <tr data-row-id="{{ position.securities_position_id }}" data-company-id="{{ position.company_id }}">
            <td>{{ position.security_name }}</td>
            <td>{{ position.formatted_price_per_piece }}</td>
            <td>{{ position.amount }}</td>
            <td>{{ position.formatted_total_price }}</td>
            <td data-market-id="{{ position.market_id }}">{{ position.purchase_timestamp }} {{ position.market_name }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<br>

<div id="chart-container">
    <canvas id="chart"></canvas>
</div>
{% endif %}

<!-- JavaScript -->
<!------------------------------------------------------------------------------------------------------->

{% if securities_positions %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    // Chart
    // ============================================================================
    document.addEventListener("DOMContentLoaded", function () {
        let selectedRowID = null;
        let rows = document.querySelectorAll(".table-hover tbody tr");

        function createPieChart(data) {
            var ctx = document.getElementById('chart').getContext('2d');
            new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: data.labels,
                    datasets: [{
                        data: data.values,
                        backgroundColor: data.colors,
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    tooltips: {
                        callbacks: {
                            label: function (tooltipItem, data) {
                                var dataset = data.datasets[tooltipItem.datasetIndex];
                                var value = dataset.data[tooltipItem.index];
                                return data.labels[tooltipItem.index] + ': €' + value.toFixed(2);
                            }
                        }
                    }
                }
            });
        }

        // Daten für Chart sammeln und Chart erstellen
        let companyIDs = Array.from(new Set([...rows].map(row => row.getAttribute('data-company-id'))));
        let values = Array(companyIDs.length).fill(0);
        rows.forEach(function (row) {
            var companyID = row.getAttribute('data-company-id');
            var index = companyIDs.indexOf(companyID);
            var totalValue = row.cells[3].textContent; // Gesamtbetrag auslesen
            totalValue = totalValue.replace('EUR ', '');
            values[index] += parseFloat(totalValue); // Summieren des Werts zur entsprechenden Company-ID
        });
        let company_names_or_ids = [];
        const fetchPromises = companyIDs.map(comp_id => {
            return fetch('http://127.0.0.1:50051/firmen/' + comp_id, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                },
            })
                .then(response => response.json())
                .then(json => {
                    if (json[0] && json[0].company_name) {
                        return json[0].company_name;
                    } else {
                        return comp_id;
                    }
                })
                .catch(error => {
                    console.log(error);
                    return comp_id;
                });
        });

        Promise.all(fetchPromises)
            .then(company_names_or_ids => {
                if (company_names_or_ids.length === companyIDs.length) {
                    companyIDs = company_names_or_ids;
                }

                var chartData = {
                    labels: companyIDs,
                    values: values
                };
                createPieChart(chartData);
            });

        // Kontextmenü und Hover-Verhalten für Tabelle
        // ============================================================================
        let contextMenu = document.getElementById('context-menu');

        rows.forEach(function (row) {
            row.addEventListener("click", function (event) {
                let id = this.getAttribute("data-row-id");
                if (id === selectedRowID) {
                    selectedRowID = null;
                    contextMenu.style.display = 'none';
                    rows.forEach(function (row) {
                        row.classList.remove("active");
                    });
                } else {
                    selectedRowID = id;
                    let buttonBoundaries = document.getElementById("context-menu-button").getBoundingClientRect();
                    contextMenu.style.display = 'block';
                    contextMenu.style.left = event.pageX - buttonBoundaries.left + window.pageXOffset + 'px';
                    contextMenu.style.top = event.pageY - buttonBoundaries.top - window.pageYOffset + 'px';
                    rows.forEach(function (row) {
                        row.classList.remove("active");
                    });
                    this.classList.add("active");
                }
            });
        });

        document.addEventListener("click", function (event) {
            let isClickedInsideRow = false;
            let target = event.target;
            while (target.parentNode) {
                if (target.matches(".table-hover tbody tr")) {
                    isClickedInsideRow = true;
                    break;
                }
                target = target.parentNode;
            }
            if (!isClickedInsideRow) {
                contextMenu.style.display = 'none';
                selectedRowID = null;
                rows.forEach(function (row) {
                    row.classList.remove("active");
                });
            }
        });

        // Kontextmenü: Verkaufen
        let deleteDepositButton = document.getElementById('sell');
        if (deleteDepositButton) {
            deleteDepositButton.addEventListener("click", function (event) {
                // Depotposition verkaufen
                let selectedRowElement = document.querySelector(`[data-row-id="${selectedRowID}"]`);
                let marketIdElement = selectedRowElement.querySelector('[data-market-id]');
                let marketId = marketIdElement.getAttribute('data-market-id');
                fetch('http://127.0.0.1:50052/markets/' + marketId, {
                    method: 'GET',
                    headers: { 'Accept': 'application/json' }
                })
                    .then(response => response.json())
                    .then(json => {
                        fetch('http://localhost:50050/currency_converter/' +
                            json.market_fee + '/' +
                            json.market_currency_code + '/' +
                            'EUR',
                            {
                                method: 'GET',
                                headers: {
                                    'Content-Type': 'application/json',
                                },
                            })
                            .then(response => response.text())
                            .then(text => {
                                let tax_fee_to_pay = parseFloat(text).toFixed(2);
                                let confirmDelete = confirm("Sind Sie sicher, dass Sie das Wertpapier zum Verkauf anbieten möchten? Transaktionsgeführen in Höhe von EUR " + tax_fee_to_pay + " werden beim Anbieten sofort in Rechnung gestellt.");
                                if (confirmDelete) {
                                    fetch(`/api/personen/{{ person.person_id }}/depots/{{ deposit.deposit_id }}/depotposition/${selectedRowElement.getAttribute('data-row-id')}/verkauf`, {
                                        method: 'POST',
                                    })
                                        .then(response => {
                                            if (response.ok) {
                                                console.log("Depotposition erfolgreich zum Verkauf angeboten");
                                                window.location.reload();
                                            } else {
                                                console.error("Fehler beim Verkauf der Depotposition");
                                            }
                                        })
                                        .catch(error => {
                                            console.error("Fehler beim Verkauf der Depotposition:", error);
                                        });
                                }
                            })
                            .catch(error => {
                                console.error("Fehler beim Verkauf der Depotposition:", error);
                            });
                    })
                    .catch(error => {
                        console.error("Fehler beim Verkauf der Depotposition:", error);
                    });
            });
        }
    });
</script>
{% endif %}

{% endblock %}