{% extends "base.html" %}

{% block content %}
<!-- Admin Funktionen -->
{% if current_user.is_admin %}
<h2>Admin Funktionen</h2>
<div class="admin-functions-container">
    <!-- Button "Depot erstellen" + Kontextmenü -->
    <div class="dropdown">
        <button id="depotErstellenButton" class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Depot erstellen
        </button>
        <form id="dropdown_form" class="dropdown-menu p-4" style="min-width: 300px;">
            <div class="form-group" style="margin: 7%; margin-bottom: 0;">
                <input type="text" class="form-control" id="depotNameInput" placeholder="Name des Depots">
                <span id="name_bereits_vorhanden" class="text-danger" style="display: none;">Name bereits vorhanden</span>
            </div>
            <button style="margin: 7%;" type="submit" class="btn btn-primary" id="erstellen" onclick="depotErstellen()"
                disabled>erstellen</button>
        </form>
    </div>
    <!-- Button "einzahlen" + Kontextmenü -->
    <div class="dropdown">
        <button id="einzahlenButton" class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            einzahlen
        </button>
        <form id="dropdown_form" class="dropdown-menu p-4">
            <div class="form-group" style="margin: 7%; margin-bottom: 0;">
                <input type="text" class="form-control" id="einzahlenInput" placeholder="0,00">
            </div>
            <button style="margin: 7%;" type="submit" class="btn btn-primary" id="einzahlen" disabled>einzahlen</button>
        </form>
    </div>
    <!-- Button "auszahlen" + Kontextmenü -->
    {% if person.account.account_balance_in_euro > 0.0 %}
    <div class="dropdown">
        <button id="auszahlenButton" class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            auszahlen
        </button>
        <form id="dropdown_form" class="dropdown-menu p-4">
            <div class="form-group" style="margin: 7%; margin-bottom: 0;">
                <input type="text" class="form-control" id="auszahlenInput" placeholder="0,00">
            </div>
            <button style="margin: 7%;" type="submit" class="btn btn-primary" id="auszahlen" onclick="auszahlen()"
                disabled>auszahlen</button>
        </form>
    </div>
    {% endif %}
</div>
<hr class="dotted-divider-full" style="margin-top: 20px;">
{% endif %}

<h1 style="align-items: flex-end;">Depotübersicht</h1>
<!-- Name des Inhabers der Depots -->
{% if current_user.is_admin %}
<h4 style="align-items: flex-end; padding-left: 10px;">ID {{ person.person_id }} - {{ person.first_name }} {{
    person.last_name }}</h4>
{% else %}
<h4 style="align-items: flex-end; padding-left: 10px;">{{ person.first_name }} {{ person.last_name }}</h4>
{% endif %}

<!-- Vermögen -->
<br>
<table id="vermoegen-table" class="table table-condensed">
    <tbody>
        <tr>
            <td style="padding-right: 100px;">Konto-Vermögen</td>
            <td class="text-right">{{ person.account.displayed_currency }} {{ '%.2f' %
                person.account.account_balance_in_euro }}
            </td>
        </tr>
        <tr>
            <td style="padding-right: 100px;">Depot-Vermögen</td>
            <td class="text-right">{{ person.account.displayed_currency }} {{ '%.2f' % gesamtwert }}</td>
        </tr>
        <tr style="border-top: 1px solid #ddd; font-weight: bold;">
            <td style="padding-right: 100px;">Gesamt-Vermögen</td>
            <td class="text-right">{{ person.account.displayed_currency }} {{ '%.2f' %
                (person.account.account_balance_in_euro + gesamtwert) }}</td>
        </tr>
    </tbody>
</table>

<!-- Infotext, wenn keine Depots vorhanden -->
{% if not deposits %}
<br>
<div class="alert alert-info" role="alert">
    Es sind keine Depots vorhanden.
</div>
{% else %}
<!-- Kontext-Menü zur Tabelle, wenn Depots vorhanden -->
<div class="btn-group d-md-none m-1">
    <button id="context-menu-button" class="btn dropdown-toggle" type="button" data-toggle="dropdown"
        data-boundary="window" aria-expanded="false" style="visibility: hidden;">
        <span class="glyphicon glyphicon-option-vertical"></span>
    </button>
    <ul id="context-menu" class="dropdown-menu">
        <li><a id="show_deposit" href="#">Zum Depot</a></li>
        <!-- Update und Delete nur für Admins -->
        {% if current_user.is_admin %}
        <li><a id="rename_deposit" href="#">Umbenennen</a></li>
        <li id="delete_deposit_li"><a id="delete_deposit" href="#">Löschen</a></li>
        {% endif %}
    </ul>
</div>
<!-- Depot-Tabelle -->
<table class="table table-hover table-condensed">
    <thead>
        <tr>
            <th>Depotname</th>
            <th>Gesamtwert</th>
        </tr>
    </thead>
    <tbody>
        {% for deposit in deposits %}
        {% if deposit.securities_positions %}
        <tr data-row-id="{{ deposit.deposit_id }}" , data-has-positions="TRUE">
            {% else %}
        <tr data-row-id="{{ deposit.deposit_id }}" , data-has-positions="FALSE">
            {% endif %}
            <td style="vertical-align: middle;">{{ deposit.deposit_name }}</td>
            <td style="vertical-align: middle;">{{ person.account.displayed_currency }} {{ '%.2f' % deposit.gesamtwert
                }}</td>
            <input type="hidden" class="has-positions" value="{{ deposit.securities_positions }}">
        </tr>
        {% endfor %}
    </tbody>
</table>
<a class="btn btn-primary" onclick="exportPortfolio()">Portfolio als CSV exportieren</a>
{% endif %}

<!-- JavaScript -->
<!------------------------------------------------------------------------------------------------------->

{% if current_user.is_admin %}
<script>
    // Depot erstellen
    // ============================================================================
    let depotNameInput = document.getElementById("depotNameInput");
    let createDepotButton = document.getElementById("depotErstellenButton");
    let erstellenButton = document.getElementById("erstellen");

    // Depot erstellen Validierung
    depotNameInput.addEventListener("input", function () {
        let rows = document.querySelectorAll(".table-hover tbody tr");
        let name_bereits_vorhanden = false;
        rows.forEach(function (row) {
            let name = row.cells[0].textContent;
            if (name === depotNameInput.value) {
                name_bereits_vorhanden = true;
            }
        });
        let info = document.getElementById('name_bereits_vorhanden');
        name_bereits_vorhanden ? info.style.display = 'block' : info.style.display = 'none';
        erstellenButton.disabled = (this.value.trim().length === 0) || (name_bereits_vorhanden);
    });

    createDepotButton.addEventListener("click", function () {
        if (createDepotButton.getAttribute("aria-expanded") === "false") {
            depotNameInput.value = "";
        }
    })

    erstellenButton.onclick = function (event) {
        event.preventDefault();

        depositName = depotNameInput.value;
        let data = {
            "deposit_name": depositName
        };

        fetch(`/api/personen/{{ person.person_id }}/depots`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data)
        })
            .then(response => {
                if (response.ok) {
                    console.log("Depot erfolgreich erstellt");
                } else {
                    console.error("Fehler beim Erstellen des Depots");
                }
                window.location.href = "/personen/{{ person.person_id }}/depots";
            })
            .catch(error => {
                alert("Fehler beim Erstellen des Depots", error);
                window.location.href = "/personen/{{ person.person_id }}/depots";
            });
    };
</script>
{% endif %}
{% if current_user.is_admin %}
<script>
    // einzahlen
    // ============================================================================
    let einzahlenInput = document.getElementById("einzahlenInput");
    let einzahlenButton = document.getElementById("einzahlenButton");
    let einzahlenSubmitButton = document.getElementById("einzahlen");

    einzahlenInput.addEventListener("input", function () {
        einzahlenSubmitButton.disabled = !/^\d+([.,]\d{1,2})?$/.test(this.value.trim());
    });
    einzahlenButton.addEventListener("click", function () {
        if (einzahlenButton.getAttribute("aria-expanded") === "false") {
            einzahlenInput.value = "";
        }
    })

    einzahlenSubmitButton.onclick = function (event) {
        event.preventDefault();

        einzahlenBetrag = einzahlenInput.value;
        let data = {
            "einzahlen": einzahlenBetrag
        };

        fetch(`/api/personen/{{ person.person_id }}/einzahlen`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data)
        })
            .then(response => response.text())
            .then(text => {
                console.log(text);
                window.location.href = "/personen/{{ person.person_id }}/depots";
            })
            .catch(error => {
                console.log(error);
                window.location.href = "/personen/{{ person.person_id }}/depots";
            });
    };
</script>
{% endif %}
{% if current_user.is_admin %}
<script>
    // auszahlen
    // ============================================================================
    let auszahlenInput = document.getElementById("auszahlenInput");
    let auszahlenButton = document.getElementById("auszahlenButton");
    let auszahlenSubmitButton = document.getElementById("auszahlen");

    if (auszahlenInput) {
        auszahlenInput.addEventListener("input", function () {
            auszahlenSubmitButton.disabled = !/^\d+([.,]\d{1,2})?$/.test(this.value.trim());
        });
    }

    if (auszahlenButton) {
        auszahlenButton.addEventListener("click", function () {
            if (einzahlenButton.getAttribute("aria-expanded") === "false") {
                auszahlenInput.value = "";
            }
        })
    }

    if (auszahlenSubmitButton) {
        auszahlenSubmitButton.onclick = function (event) {
            event.preventDefault();

            auszahlenBetrag = auszahlenInput.value;
            let data = {
                "auszahlen": auszahlenBetrag
            };

            fetch(`/api/personen/{{ person.person_id }}/auszahlen`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data)
            })
                .then(response => response.text())
                .then(text => {
                    console.log(text);
                    window.location.href = "/personen/{{ person.person_id }}/depots";
                })
                .catch(error => {
                    console.log(error);
                    window.location.href = "/personen/{{ person.person_id }}/depots";
                });
        };
    }
</script>
{% endif %}
{% if deposits %}
<script>
    // Kontextmenü und Hover-Verhalten für Tabelle implementieren
    // ============================================================================
    document.addEventListener("DOMContentLoaded", function () {
        let selectedRowID = null;
        let rows = document.querySelectorAll(".table-hover tbody tr");
        let contextMenu = document.getElementById('context-menu');

        rows.forEach(function (row) {
            row.addEventListener("click", function (event) {
                let id = this.getAttribute("data-row-id");
                let hasPositions = (this.getAttribute("data-has-positions") === "TRUE");
                if (id === selectedRowID) {
                    selectedRowID = null;
                    contextMenu.style.display = 'none';
                    rows.forEach(function (row) {
                        row.classList.remove("active");
                    });
                } else {
                    selectedRowID = id;
                    let buttonBoundaries = document.getElementById("context-menu-button").getBoundingClientRect();
                    contextMenu.style.display = 'block';
                    contextMenu.style.left = event.pageX - buttonBoundaries.left + window.pageXOffset + 'px';
                    contextMenu.style.top = event.pageY - buttonBoundaries.top - window.pageYOffset + 'px';
                    rows.forEach(function (row) {
                        row.classList.remove("active");
                    });
                    this.classList.add("active");

                    let deleteDepositButton = document.getElementById('delete_deposit_li');
                    if (deleteDepositButton) {
                        if (hasPositions) {
                            deleteDepositButton.classList.add("disabled");
                        } else {
                            deleteDepositButton.classList.remove("disabled");
                        }
                    }
                }
            });
        });

        document.addEventListener("click", function (event) {
            let isClickedInsideRow = false;
            let target = event.target;
            while (target.parentNode) {
                if (target.matches(".table-hover tbody tr")) {
                    isClickedInsideRow = true;
                    break;
                }
                target = target.parentNode;
            }
            if (!isClickedInsideRow) {
                contextMenu.style.display = 'none';
                selectedRowID = null;
                rows.forEach(function (row) {
                    row.classList.remove("active");
                });
            }
        });

        // Kontextemenü: Zum Depot
        let showDepositButton = document.getElementById('show_deposit');
        if (showDepositButton) {
            showDepositButton.addEventListener("click", function (event) {
                if ('{{ current_user.is_admin }}' === 'True') {
                    // Admin navigiert zum Depot einer bestimmten Person
                    window.location.href = "/personen/{{ person.person_id }}/depots/" + selectedRowID;
                } else {
                    // User navigiert zu seinem eigenen Depot
                    window.location.href = "/depots/" + selectedRowID;
                }
            });
        }

        // Kontextmenü: Umbenennen
        let renameDepositButton = document.getElementById('rename_deposit');
        if (renameDepositButton) {
            renameDepositButton.addEventListener("click", function (event) {
                // TODO umbenennen
            });
        }

        // Kontextmenü: Löschen
        let deleteDepositButton = document.getElementById('delete_deposit');
        if (deleteDepositButton) {
            deleteDepositButton.addEventListener("click", function (event) {
                if (document.querySelector(`tr[data-row-id="${selectedRowID}"]`) && document.querySelector(`tr[data-row-id="${selectedRowID}"]`).getAttribute("data-has-positions") === "TRUE") {
                    alert("Löschen nicht möglich, da das Depot Positionen enthält.");
                } else {
                    let confirmDelete = confirm("Sind Sie sicher, dass Sie das Depot löschen möchten?");
                    if (confirmDelete) {
                        fetch(`/api/personen/{{ person.person_id }}/depots/${selectedRowID}`, {
                            method: 'DELETE',
                        })
                            .then(response => {
                                if (response.ok) {
                                    console.log("Depot erfolgreich gelöscht");
                                    window.location.reload();
                                } else {
                                    console.error("Fehler beim Löschen des Depots");
                                }
                            })
                            .catch(error => {
                                console.error("Fehler beim Löschen des Depots:", error);
                            });
                    }
                }
            });
        }
    });
</script>
{% endif %}

<script>
    // CSV
    // ============================================================================
    function exportPortfolio() {
        fetch(`/api/personen/{{ person.person_id }}/depots/csv`, {
            method: 'GET',
            headers: {
                'Content-Type': 'text/csv'
            }
        })
            .then(response => response.blob())
            .then(blob => {
                // Erstelle einen Download-Link für die CSV-Datei
                const url = window.URL.createObjectURL(new Blob([blob]));
                const link = document.createElement('a');
                link.href = url;
                link.setAttribute('download', 'portfolio.csv');
                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);
            })
            .catch(error => {
                console.error('Fehler beim Exportieren des Portfolios:', error);
            });
    }
</script>
{% endblock %}