{% extends "base.html" %}

{% block content %}
    <form action="" method="post" novalidate>
        <div class="container" style="text-align: center">
            <h1>Sign In</h1>
            <p>
                {{ form.username.label }}<br>
                {{ form.username(size=32) }}<br>
                {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}<br>
                {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
{% endblock %}