{% extends "base.html" %}

{% block content %}
{% if current_user.is_admin %}
<div style="margin: 2%;"></div>
<h1 style="margin: 0 20%;">Wertpapiere kaufen</h1>
<br>
<hr class="dotted-divider">
<br>
<br>
<form class="form-horizontal" action="" method="post" novalidate style="margin: 0 20%;">
    {{ form.hidden_tag() }}

    <!-- Wertpapier-Auswahl -->
    <div class="form-group">
        <label class="control-label col-xs-2" style="padding-right: 0;">Wertpapier</label>
        <div class="col-xs-8">
            <select id="wertpapiereSelect" class="form-control"></select>
            {{ form.selectedWertpapierId() }}
            {{ form.comp_id() }}
        </div>
    </div>

    <br>

    <!-- Börsen-Auswahl -->
    <div class="form-group">
        <label class="control-label col-xs-2" style="padding-right: 0;">Börse</label>
        <div class="col-xs-8">
            <select id="boersenSelect" class="form-control" style="display: none;"></select>
            {{ form.selectedBoersenId() }}
            <div id="infotext" class="alert alert-info" role="alert" style="display: none;">
                Das ausgewählte Wertpapier wird an keiner Börse angeboten.
            </div>
        </div>
    </div>

    <br>

    <!-- Verfügbare Anzahl an Wertpapieren -->
    <div id="anzahl" class="form-group row" style="display: none;">
        <label class="control-label col-xs-2" style="padding-right: 0;">Stückzahl</label>
        <div class="control-label col-xs-4" style="padding-top: 0;">{{ form.amount(class="form-control") }}</div>
        <label class="control-label" id="maxAnzahl">von 50</label>
    </div>
    <span id="anzahlInputValid" class="text-danger" style="display: none;"></span>

    <br>

    <!-- Submit und Abbrechen Buttons -->
    <div class="form-group mt-4">
        {{ form.submit(id="formSubmitButton", class="btn btn-primary", disabled="disabled") }}
        {{ form.depot_id() }}
        {{ form.price() }}
        {{ form.currency() }}
        <a href="{{ url_for('depositByPerson', person_id=person.person_id, depot_id=deposit.deposit_id) }}"
            class="btn btn-secondary">Abbrechen</a>
    </div>
</form>

<!-- JavaScript -->
<!------------------------------------------------------------------------------------------------------->

<script>

    // Angebot einer Börse abrufen und der Börse zuweisen
    function fetchOfferForBoerse(boerse) {
        const marketId = boerse.market_id;

        return fetch('http://127.0.0.1:50052/markets/' + marketId + '/offer', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            },
        })
            .then(response => response.json())
            .then(json => {
                boerse.offer = json;
            });
    }

    let wertpapiere = {};
    const boersen = [];
    const wertpapiereZuBoersen = {};

    document.addEventListener("DOMContentLoaded", function (event) {
        const wertpapierSelectElement = document.getElementById('wertpapiereSelect');
        const boerseSelectElement = document.getElementById('boersenSelect');
        const anzahlElement = document.getElementById('anzahl');
        const amountInputElement = document.getElementById('amountInput');

        document.getElementById('depot_id').value = '{{ deposit.deposit_id }}';

        // Validierung für Aktivierung des Kaufbuttons
        function validateInputs() {
            const selectedWertpapier = wertpapierSelectElement.value;
            const selectedBoerse = boerseSelectElement.value;

            const max = document.getElementById('maxAnzahl');
            const numberPattern = /\d+/;
            const match = max.innerHTML.match(numberPattern);
            let extractedNumber;
            if (match) {
                extractedNumber = parseInt(match[0]);
                if (!isNaN(amountInputElement.value) && amountInputElement.value > extractedNumber) {
                    document.getElementById('anzahlInputValid').style.display = 'block';
                    document.getElementById('anzahlInputValid').innerHTML = 'Die zu kaufende Stückzahl ist größer als die verfügbare Stückzahl.'
                } else {
                    document.getElementById('anzahlInputValid').style.display = 'none';
                }
            } else {
                document.getElementById('anzahlInputValid').style.display = 'block';
                document.getElementById('anzahlInputValid').innerHTML = 'Die Eingabe muss eine gültige Zahl sein.'
            }

            // Überprüfen, ob beide Werte ausgewählt wurden und die Anzahl eine gültige Zahl ist
            const isValid =
                selectedWertpapier !== '' &&
                selectedBoerse !== '' &&
                extractedNumber &&
                !isNaN(amountInputElement.value) &&
                amountInputElement.value > 0 && amountInputElement.value <= extractedNumber;

            // Button-Status aktualisieren
            formSubmitButton.disabled = !isValid;
        }

        // Wertpapiert selektiert
        // -> Börsen anzeigen, die das jeweilige Wertpapier anbieten
        wertpapierSelectElement.addEventListener('change', function () {
            boerseSelectElement.innerHTML = '';
            const selectedValue = wertpapierSelectElement.value;
            document.getElementById('selectedWertpapierId').value = selectedValue;
            wertpapiere.forEach(wertpapier => {
                if (wertpapier.id == selectedValue) {
                    document.getElementById('comp_id').value = wertpapier.comp_id;
                }
            });
            console.log('Ausgewählte Wertpapier-ID:', selectedValue);
            console.log("Börsen, die das Wertpapier anbieten:", wertpapiereZuBoersen[selectedValue])
            const boersenForWertpapier = wertpapiereZuBoersen[selectedValue];
            if (boersenForWertpapier && boersenForWertpapier.length > 0) {
                boersenForWertpapier.forEach(boerse => {
                    if (boerse) {
                        const option = document.createElement('option');
                        option.text = boerse.market_name;
                        option.value = boerse.market_id;
                        boerseSelectElement.add(option);
                    }
                });
                document.getElementById('infotext').style.display = 'none';
                anzahlElement.style.display = 'block';
                let max = 0;
                wertpapiereZuBoersen[wertpapierSelectElement.value][boerseSelectElement.value].offer.forEach(offer => {
                    if (offer.security_id == wertpapierSelectElement.value) {
                        max += offer.amount;
                    }
                });
                document.getElementById('maxAnzahl').innerHTML = ' von ' + max;
                boerseSelectElement.style.display = 'block';
            } else {
                document.getElementById('infotext').style.display = 'block';
                anzahlElement.style.display = 'none';
                boerseSelectElement.style.display = 'none';
            }
            validateInputs();
            // Programmatisch das "change"-Event auslösen
            const event = new Event('change');
            boerseSelectElement.dispatchEvent(event);
        })

        // Börse selektiert
        boerseSelectElement.addEventListener('change', function () {
            const selectedValue = boerseSelectElement.value;
            document.getElementById('selectedBoersenId').value = selectedValue;
            if (boersen[selectedValue]) {
                document.getElementById('currency').value = boersen[selectedValue].market_currency_id;
            }
        });

        // Anzahl Input-Validation
        amountInputElement.addEventListener('input', function () {
            validateInputs();
        });

        // Alle Börsenangebote durchiterieren und aufbereiten
        fetch('http://127.0.0.1:50052/markets', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            },
        })
            .then(response => response.json())
            .then(json => {
                Object.entries(json).forEach(([key, value]) => {
                    Object.entries(value).forEach(([key, value]) => {
                        boersen[value?.market_id] = value;
                        Object.entries(value).forEach(([key, value]) => {
                            // Attribute der Börse
                            if (key === 'market_id') {
                                fetch('http://127.0.0.1:50052/markets/' + value + '/offer', {
                                    method: 'GET',
                                    headers: {
                                        'Content-Type': 'application/json',
                                    },
                                })
                                    .then(response => response.json())
                                    .then(json => {
                                        boersen[value]['offer'] = json;
                                    })
                                    .catch(error => {
                                        console.log(error);
                                    });
                            }
                        });
                    });
                });
                console.log("börsen", boersen);
                Promise.all(boersen.map(boerse => fetchOfferForBoerse(boerse)))
                    .then(() => {
                        boersen.forEach(boerse => {
                            if (boerse.offer) {
                                boerse.offer.forEach(offer => {
                                    const wertpapierId = offer.security_id;
                                    if (!wertpapiereZuBoersen[wertpapierId]) {
                                        wertpapiereZuBoersen[wertpapierId] = [];
                                    }
                                    wertpapiereZuBoersen[wertpapierId][boerse.market_id] = boerse;
                                });
                            }
                        });
                        console.log("wertpapierzuweisung", wertpapiereZuBoersen)
                    })
                    .then(() => {
                        // Alle theoretisch möglichen Wertpapiere anzeigen
                        fetch('http://127.0.0.1:50051/firmen/wertpapiere', {
                            method: 'GET',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                        })
                            .then(response => response.json())
                            .then(json => {
                                console.log('wertpapiere', json)
                                wertpapiere = json;
                                json.sort((a, b) => a.name.localeCompare(b.name));
                                json.forEach(wertpapier => {
                                    const option = document.createElement('option');
                                    option.text = wertpapier.name;
                                    option.value = wertpapier.id;
                                    wertpapierSelectElement.add(option);
                                });
                                // Programmatisch das "change"-Event auslösen
                                const event = new Event('change');
                                wertpapierSelectElement.dispatchEvent(event);
                            })
                            .catch(error => {
                                console.log(error);
                            });
                    })
                    .catch(error => {
                        console.log(error);
                    });
            })
            .catch(error => {
                console.log(error);
            });
    });
</script>
{% endif %}
{% endblock %}